# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Database
database.db
database.db-*
database.test.db
database.test.db-*
docs
server/db/migrations/*.sql

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Test coverage
coverage/
